{% extends "base.html" %}
{% import 'form_macros.html' as macroforms %}


{% block tab_title %}Actualizando: {{" ".join([entity_data.nombre, entity_data.tutor.apellido_paterno.capitalize()[0],  entity_data.tutor.apellido_materno.capitalize()[0]])}}{% endblock %}

{% block header %}
<script src="{{ url_for('static', path='js/form_handler.js') }}"></script>
{% endblock %}

{% block content %}


<section class="section">
    <div class="container ">
        <form id="dogForm">
            <div class="columns">
                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Datos</p>
                        </header>
                        <div class="card-content">
                            <div class="content">


                                {{ macroforms.input('nombre',
                                value=entity_data.nombre,
                                label='Nombre',
                                type='text',
                                left_icon='fa-solid fa-dog',
                                left_icon_classes='has-text-info') }}

                                {{ macroforms.input('raza',
                                value=entity_data.raza,
                                label='Raza',
                                type='text',
                                left_icon='fa-solid fa-paw',
                                left_icon_classes='has-text-info') }}

                                {{ macroforms.input('color',
                                value=entity_data.color,
                                label='Color',
                                type='text',
                                left_icon='fa-solid fa-palette',
                                left_icon_classes='has-text-info') }}

                                {{ macroforms.input_addons('peso',
                                value=entity_data.peso,
                                label='Peso',
                                type='text',
                                left_icon='fa-solid fa-weight-scale',
                                left_icon_classes='has-text-info',
                                control_classes='is-expanded',
                                addons_right='<div class="control">
                                                <a class="button is-static">kg</a>
                                             </div>'
                                ) 
                                }}

                                {{ macroforms.input('alergias',
                                value=entity_data.alergias,
                                label='Alergias',
                                type='text',
                                left_icon='fa-solid fa-stethoscope',
                                left_icon_classes='has-text-info') }}

                                {{ macroforms.input('microchip_id',
                                value=entity_data.microchip_id,
                                label='ID Chip',
                                type='text',
                                left_icon='fa-solid fa-microchip',
                                left_icon_classes='has-text-info') }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title"> &nbsp;</p>
                        </header>
                        <div class="card-content">

                            {{ macroforms.select('genero',
                            preselected_key=entity_data.genero,
                            label='Género',
                            left_icon='fa-solid fa-venus-mars',
                            left_icon_classes='has-text-info',
                            placeholder="Seleccione el género.",
                            options_dict=select_options_dict['genero'],
                            field_classes='has-text-info is-fullwidth')  }}

                            {{ macroforms.select('tamano',
                            preselected_key=entity_data.tamano,
                            label='Tamaño',
                            left_icon='fa-solid fa-ruler-vertical',
                            left_icon_classes='has-text-info',
                            placeholder="Seleccione el tamaño.",
                            options_dict=select_options_dict['tamano'],
                            field_classes='has-text-info is-fullwidth') }}

                            {{ macroforms.select('temperamento',
                            preselected_key=entity_data.temperamento,
                            label='Temperamento',
                            left_icon='fa-solid fa-masks-theater',
                            left_icon_classes='has-text-info',
                            placeholder="Seleccione el temperamento.",
                            options_dict=select_options_dict['temperamento'],
                            field_classes='has-text-info is-fullwidth') }}


                            {{ macroforms.input('fecha_nacimiento',
                            value=entity_data.fecha_nacimiento,
                            label='Fecha de nacimiento',
                            type='date',
                            left_icon='fa-solid fa-cake-candles',
                            left_icon_classes='has-text-info') }}

                            {{ macroforms.input('ultima_desparasitacion',
                            value=entity_data.ultima_desparasitacion,
                            label='Ultima Desparasitación',
                            type='date',
                            left_icon='fa-solid fa-bug',
                            left_icon_classes='has-text-info') }}

                            {{ macroforms.checkbox('is_vaccinated',
                            is_checked=entity_data.is_vaccinated,
                            label_top='Vacunas completas',
                            field_classes='is-rounded') }}

                            {{ macroforms.checkbox('is_neutered',
                            is_checked=entity_data.is_neutered,
                            label_top='Esterilizado',
                            field_classes='is-rounded') }}

                        </div>

                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">Foto</p>
                        </header>
                        <div class="card-content">

                            {% if entity_data.photo_path%}
                            <iframe style="pointer-events:none; border:0;"
                                src="https://drive.google.com/file/d/{{entity_data.photo_path}}/preview" width="100%"
                                height="auto" frameborder="0" scrolling="no" seamless=""></iframe>
                            {% else %}
                            <div
                                class="content is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                                <div class="box has-background-light is-flex is-justify-content-center is-align-items-center"
                                    style="width: 200px; height: 200px;">
                                    <img src="{{ url_for('static_dogs', path='img/dog-photo-placeholder.jpg') }}"
                                        alt="Photo placeholder" class="">
                                </div>
                            </div>
                            {% endif %}


                            <button type="button"  class="button is-fullwidth ">
                                <span>
                                    Subir/cambiar foto
                                </span>
                                <span class="icon is-small">
                                    <i class="fa-solid fa-camera-retro"></i>
                                </span>
                            </button>
                        
                            <button class="button is-fullwidth is-info mt-1">
                                <span>
                                    Guardar
                                </span>
                                <span class="icon is-small ">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </span>
                            </button>
                            <button class="button is-fullwidth is-black mt-1">
                                <span>
                                    Cancelar
                                </span>
                                <span class="icon is-small ">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                            </button>    
                            {% if entity_data.is_active %}
                            <button 
                                onclick="activateOrDeactivateEntity('{{ url_for('deactivate_dog', entity_uuid=entity_data.id) }}', event)" 
                                class="button is-fullwidth is-small is-danger has-text-white mt-6">
                                <span>Desactivar</span>
                                <span class="icon is-small">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </span>
                            </button>
                            {% else %}
                            <button 
                                onclick="activateOrDeactivateEntity('{{ url_for('activate_dog', entity_uuid=entity_data.id) }}', event)" 
                                class="button is-fullwidth is-small is-success has-text-white mt-6">
                                <span>Activar</span>
                                <span class="icon is-small">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
</section>
    
<script>
    setupFormSubmission({
    form: document.getElementById('dogForm'),
        submitUrl: '{{ url_for("update_dog", entity_uuid=entity_data.id) }}',
        shouldRedirect: true,
        useIdempotency: false,
        formMethod:'PATCH'
    });
</script>

<script>
    highlightModifiedFields('dogForm');
</script>



{% endblock %}
